@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #4F5965;
  --bg-seconary: #35D097;
}

* {
  padding: 0; 
  margin: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: #32383f;
  margin: 0; 
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: #35D097;
}

main {
  margin-left: 5em;
  overflow: hidden;
}


.ck-editor {
  margin: auto 0 auto 5em !important;
  width: 100%;
  height: 100%;
}


.ck-content {
  min-height: 90vh;
  padding: 3em 25% !important;
  font-family: 'Signika', sans-serif;
  font-size: 2em;
}

.ck-content > p {
  color: rgb(51, 51, 51);
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

/* makes last element on the very bottom */
/* .nav-item:last-child {
  margin-top: auto;
} */

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 5rem;
  color: white;
  cursor: pointer;
}

.nav-item:first-child {
  background: var(--bg-seconary);
}

.nav-link:hover {
  background: #343b43;
}

.nav-item.add :hover {
  background: #1f855f !important;
}

.link-text {
  display: none;
}

.nav-link svg {
  min-width: 2rem;
} 

.overlay {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  background-color: transparent;
  margin: 5em 0 auto 5em;
  width: 95%;
  padding: 0 20% !important;

  font-family: 'Signika', sans-serif;
  font-size: 1em;
  color: #4e4e4e;
  z-index: 2;

}


input[type="text"].input
{
  margin-left: 0.5em;
  background: transparent;
  border: none;
  border-bottom: 2px black solid;
  font-family: 'Signika', sans-serif;
  font-size: 1em;
  color: #292929;

}

input[type="text"].input:focus {
  background: transparent;
  border: none;
  outline-width: 0;
  border-bottom: 2px white solid;
}