:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #4F5965;
  --bg-seconary: #35D097;
}

* {
  padding: 0; margin: 0;
}

body {
  color: black;
  background-color: white;
  margin: 0; 
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.55rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: #238863;
}

main {
  margin-left: 5em;
  overflow: hidden;
}

header {
  overflow: hidden;
}


.ck-editor {
  margin: auto 0 !important;
  /* max-width: 1200px; */
}

.ck-content {
  min-height: 1113px;
  max-width: 787px;
  margin: 5em auto;
  padding: 80px!important;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
  font-family: Arial, Helvetica, sans-serif, Courier, monospace;
}

.navbar {
  width: 100vw;
  height: 5em;
  /* position: fixed; */
  background-color: var(--bg-primary);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
}

.nav-item {
  height: 100%;
}

/* makes last element on the very bottom */
.nav-item.title {
  margin-right: auto;
  margin-left: 1em;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 5rem;
  height: 100%;
  color: white;
  cursor: pointer;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
  color: white;
  cursor: pointer;
}


.nav-item.add {
  background: var(--bg-seconary);
}

.nav-link:hover {
  background: #343b43;
}

.nav-item.add :hover {
  background: #1f855f !important;
}

.link-text {
  display: none;
}

.nav-link svg {
  min-width: 2rem;
} 

input[type="text"].input
{
  margin-left: 1em;
  background: transparent;
  color: white;
  border: none;
  font-size: 2em;
  border-bottom: 2px white solid;
}

input[type="text"].input:focus {
  background: transparent;
  border: none;
  outline-width: 0;
  border-bottom: 2px white solid;

}

.overlay {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}